.signin {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  height: 100vh;
}
.banner {
  background-image: url(../../assets/banner-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  text-align: center;
}
.title {
  font-size: 2.2em;
  color: rgb(46, 196, 91);
  margin-bottom: 1rem;
}
.sub-title {
  font-size: 1.75em;
  margin-bottom: 1rem;
  font-weight: 500;
}
.form {
  width: 55%;
  margin-bottom: 0 auto;
}
.form form {
  width: 100%;
}
.form-control {
  margin-bottom: 0.85rem;
}
.form-control input {
  width: 100%;
  padding: 0.65rem;
  font-size: 0.85em;
}
.form-control input:focus {
  outline: none;
  border: 2px solid #444;
}
.btn {
  width: 100%;
  border: none;
  padding: 0.75rem 1rem;
  margin-bottom: 0.75rem;
  background: #333;
  color: #fff;
  cursor: pointer;
  font-size: 0.95em;
  font-weight: 500;
}
.form-control p {
  font-size: 1em;
  text-align: left;
}
.form-control .signup-text {
  font-size: 1.1em;
  margin-left: 0.5rem;
  font-weight: 500;
  cursor: pointer;
}
