.grid {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 1rem;
  height: 100%;
  padding: 0 0.5rem;
  background-color: #f3f4f6;
  color: #4b5563;
}
/* menu section */
.menu {
  background-color: #fff;
  padding: 0 2.5rem;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}
.menu_header,
.menu_items {
  padding: 2rem 0rem;
}

.menu_header p {
  color: #34d399;
  font-size: 1.8em;
  font-weight: 600;
}
.menu_lists {
  list-style-type: none;
}
.menu__list_item {
  margin: 1rem 0;
  font-weight: 400;
  padding: 0.55rem 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #444;
  /* color: #34d399; */
}
.menu__list_item:hover {
  color: #34d399;
}
.icon {
  margin-right: 1rem;
  font-size: 1.65em;
}
/* content section */
.content {
  width: 990px;
  max-width: 100%;
  padding: 1rem 0rem;
  position: relative;
  left: 250px;
}
.main {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat((6, 200px));
  grid-template-rows: repeat(100px, 200px);
  gap: 0.3rem;
}
.col-1 {
  border-radius: 4px;
  padding: 1.5rem;
  /*  */
  background-color: #fff;
  grid-column: 1 / 5;
  grid-row: 1 / 3;
  display: flex;
}
.intro {
  flex: 2;
}
.updates {
  flex: 1;
  padding: 0.75rem 0.5rem;
  background: #f3f4f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.clinic_date {
  font-size: 0.7em;
  width: 60px;
  height: 60px;
  /* border-radius: 50%; */
  background: #006edc;
  background: #34d399;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* welcome section */
.name {
  font-size: 1.05em;
  font-weight: 600;
}
.btn {
  padding: 0.5rem 1.75rem !important;
  cursor: pointer !important;
  border: none !important;
  background: #34d399 !important;
  color: #fff !important;
  font-size: 0.85em !important;
  font-weight: 600 !important;
}
.btn:focus {
  outline: none;
  border-style: none;
}
.col-2 {
  background-color: #fff;
  grid-column: 6 / 7;
  grid-row: 1 / 4;
  border-radius: 4px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.col-3 {
  background-color: #fff;
  grid-column: 1 / 2;
  grid-row: 3/ 6;
  border-radius: 4px;
  padding: 1.35rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.col-4 {
  background-color: #fff;
  grid-column: 2 / 5;
  grid-row: 3/ 6;
  border-radius: 4px;
  padding: 1.05rem;
}
.col-5 {
  grid-column: 1 / 5;
  background: #fff;
  padding: 1.5rem;
  border-radius: 4px;
}
.add_appointment {
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.notification {
  display: flex;
  align-items: center;
}
.notification div {
  margin: 0.5rem;
}

/* profile card */
.profile_image {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}
.profile_image img {
  width: 100%;
  border-radius: 5px;
}
.info {
  font-size: 0.85em;
  margin-bottom: 0.25rem;
}
.location {
  font-size: 0.85em;
  margin: 0.25rem;
  font-weight: 600;
}
.badge {
  display: flex;
  margin: 0.55rem;
}
.badge div {
  margin: 0.25rem;
  padding: 0.2rem 0.75rem;
  border-radius: 5px;
  font-size: 0.85em;
  background: #d1fae5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.badge div span {
  font-size: 0.92em;
  font-weight: 600;
}
.badge div p {
  font-size: 0.72em;
}

.topbar {
  text-align: left;
  padding: 2rem 0.55rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* Graph section */
.graph_section {
  padding: 1rem;
  background: #fff;
}

/* modal form */
